body{
    background-color:#f2f2f2;
    font-family:Arial;
    text-align:center;
}

h2{
    color:#2c3e50;
}

form{
    background:white;
    padding:20px;
    display:inline-block;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

input{
    padding:8px;
    margin:5px;
}

button{
    background:#3498db;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
}
